
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link rel ="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

    <style>
        h1 {
            color: white;
        }

        table {
            background-color: grey;
          

        }
     

        body {
            background-image: url('../images/apartment.jpg');
            background-size: 100%;
        }


    </style>
</head>
<body>
    <table>
       <tr>
           <td>
              <img src="../images/logo.png"/>
           </td>

       </tr>

    </table>

    <div class="text-center">
        <h1>Welcome Home</h1>
        <h1>Find Freedom</h1>
        <a class ="btn btn-primary" asp-action="RsvpForm">Check for Properties</a>
    </div>

</body>
</html>